{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/atelierIndex.css">
{% endblock %}

{% block body %}
    <h1>Workshop index</h1>
    <a href="{{ path('atelier_new') }}"><button class="btn">Add a workshop</button></a>
     <div class="container">
        <div class="titreIndex">
            <div class="action">Action</div>
            <div class="name">Name</div>
            <div class="category">Category</div>
            <div class="description">Description</div>
        </div>
        {% for atelier in ateliers %}
        <div class="infos">
            <div class="action">
            <a class="lienEdit" href="{{ path('atelier_edit', {'id': atelier.id}) }}"><i class="fas fa-edit"></i></a>
            {{ include('atelier/_delete_form.html.twig') }}
            <a class="lienEdit" href="{{ path('atelier_delete', {'id': atelier.id}) }}"><i class="fas fa-trash"></i></a>
            </div>
            <div class="name">{{ atelier.nom }}</div>
            <div class="category">{{ atelier.categorie }}</div>
            <div class="description">{{ atelier.description }}</div>
        </div>
        {% else %}
            <p colspan="8">You have no workshop</p>
        {% endfor %}

{% endblock %}

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.id }}</td>
                <td>{{ atelier.nom }}</td>
                <td>{{ atelier.description }}</td>
                <td>{{ atelier.categorie }}</td>
                <td>
                    <a href="{{ path('atelier_show', {'id': atelier.id}) }}">show</a>
                    <a href="{{ path('atelier_edit', {'id': atelier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('atelier_new') }}">Create new</a> #}

