{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/indexMeetings.css">
{% endblock %}

{% block body %}
    <h1>Meeting index</h1>
    <div class="container">
        <div class="titreIndex">
            <div class="action">Action</div>
            <div class="title">Title</div>
            <div class="start">Start</div>
            <div class="end">End</div>
            <div class="description">Description</div>
        </div>
        {% for calendar in calendars %}
        <div class="infos">
            <div class="action">
            <a class="lienEdit" href="{{ path('calendar_edit', {'id': calendar.id}) }}"><i class="fas fa-edit"></i></a>
            {{ include('calendar/_delete_form.html.twig') }}
            <a class="lienEdit" href="{{ path('calendar_delete', {'id': calendar.id}) }}"><i class="fas fa-trash"></i></a>
            </div>
            <div class="title">{{ calendar.title }}</div>
            <div class="start">{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</div>
            <div class="end">{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</div>
            <div class="description">{{ calendar.description }}</div>
        </div>
        {% else %}
            <p colspan="8">You have no meeting</p>
        {% endfor %}
    </div>
{% endblock %}



    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>BackgroundColor</th>
                <th>TexteColor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.id }}</td>
                <td>{{ calendar.title }}</td>
                <td>{{ calendar.description }}</td>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar.backgroundColor }}</td>
                <td>{{ calendar.textColor }}</td>
                <td>
                    <a href="{{ path('calendar_show', {'id': calendar.id}) }}">show</a>
                    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">You have no meeting</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendar_new') }}">Create new</a>
{% endblock %} #}
