{{ form_start(form) }}
<div class="container">
    <div class="titulaires">
        <div class="attaquants">
            <div class="joueur">
                <div class="member-label">
                {{ form_label(form.attaquant1) }}
                </div>
                <div>
                    {{ form_widget(form.attaquant1, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.attaquant1) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                {{ form_label(form.attaquant2) }}
                </div>
                <div>
                    {{ form_widget(form.attaquant2, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.attaquant2) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                {{ form_label(form.attaquant3) }}
                </div>
                <div>
                    {{ form_widget(form.attaquant3, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.attaquant3) }}
                </div>
            </div>
        </div>
        <div class="milieux">
            <div class="member-label">
                <div class="joueur">
                {{ form_label(form.milieu1) }}
                </div>
                <div>
                    {{ form_widget(form.milieu1, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.milieu1) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                {{ form_label(form.milieu2) }}
                </div>
                <div>
                    {{ form_widget(form.milieu2, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.milieu2) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.milieu3) }}
                </div>
                <div>
                    {{ form_widget(form.milieu3, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.milieu3) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.milieu4) }}
                </div>
                <div>
                    {{ form_widget(form.milieu4, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.milieu4) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.milieu5) }}
                </div>
                <div>
                    {{ form_widget(form.milieu5, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.milieu5) }}
                </div>
            </div>
        </div>
        <div class="defenseurs">
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.defenseur1) }}
                </div>
                <div>
                    {{ form_widget(form.defenseur1, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.defenseur1) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.defenseur2) }}
                </div>
                <div>
                    {{ form_widget(form.defenseur2, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.defenseur2) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.defenseur3) }}
                </div>
                <div>
                    {{ form_widget(form.defenseur3, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.defenseur3) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.defenseur4) }}
                </div>
                <div>
                    {{ form_widget(form.defenseur4, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.defenseur4) }}
                </div>
            </div>
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.defenseur5) }}
                </div>
                <div>
                    {{ form_widget(form.defenseur5, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.defenseur5) }}
                </div>
            </div>
        </div>
        <div class="gardien">
            <div class="joueur">
                <div class="member-label">
                    {{ form_label(form.gardien) }}
                </div>
                <div>
                    {{ form_widget(form.gardien, {'attr': {'class': 'inputNom'}}) }} 
                </div>
                <div class="form-error">
                    {{ form_errors(form.gardien) }}
                </div>
            </div>
        </div>
    </div>
    <div class="remplacants">
        <h2>substitutes</h2>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant1) }}
            </div>
            <div>
                {{ form_widget(form.remplacant1, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant1) }}
            </div>
        </div>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant2) }}
            </div>
            <div>
                {{ form_widget(form.remplacant2, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant2) }}
            </div>
        </div>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant3) }}
            </div>
            <div>
                {{ form_widget(form.remplacant3, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant3) }}
            </div>
        </div>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant4) }}
            </div>
            <div>
                {{ form_widget(form.remplacant4, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant4) }}
            </div>
        </div>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant5) }}
            </div>
            <div>
                {{ form_widget(form.remplacant5, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant5) }}
            </div>
        </div>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant6) }}
            </div>
            <div>
                {{ form_widget(form.remplacant6, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant6) }}
            </div>
        </div>
        <div class="joueur">
            <div class="member-label">
                {{ form_label(form.remplacant7) }}
            </div>
            <div>
                {{ form_widget(form.remplacant7, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.remplacant7) }}
            </div>
        </div>
        <div class="member-label">
            {{ form_label(form.nom) }}
        </div>
        <div>
            {{ form_widget(form.nom, {'attr': {'class': 'inputNom'}}) }} 
        </div>
        <div class="form-error">
            {{ form_errors(form.nom) }}
        </div>
        <button class="btn">{{ button_label|default('Save') }}</button>
        
    </div>
</div>
{{ form_end(form) }}
