{% extends 'base.html.twig' %}

{% block title %}Player index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/joueurIndex.css">
{% endblock %}

{% block body %}
    <a href="{{ path('joueur_new') }}"><button class="btn">Add a player</button></a>
    <a href="{{ path('team_new') }}"><button class="btn btnChooseTeam">Make a tactic</button></a>
    <a href="{{ path('team') }}"><button class="btn btnChooseTeam">View all your tactics</button></a>
     <div class="container">
        <div class="titreIndex">
            <div class="action">Action</div>
            <div class="name">Name</div>
            <div class="age">Age</div>
            <div class="nationality">Nationality</div>
            <div class="position">Position</div>
        </div>

        {% for joueur in joueurs %}
        <div class="infos">
            <div class="action">
                <a class="lienEdit" href="{{ path('joueur_edit', {'id': joueur.id}) }}"><i class="fas fa-edit"></i></a>
                {{ include('joueur/_delete_form.html.twig') }}
            </div>
            <div class="name">{{ joueur.prenom }} {{ joueur.nom }}</div>
            <div class="age">{{ joueur.age }}</div>
            <div class="nationality">{{ joueur.nationalite }}</div>
            <div class="position">{{ joueur.poste }}</div>
        </div>
        {% else %}
            <p colspan="8">You have no workshop</p>
        {% endfor %}
    </div>
{% endblock %}