<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <script src="https://kit.fontawesome.com/ce1160e1b3.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/variables.css">

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

        {% block header %}
        <div class="header">
            <img class="logo" src="/uploads/Logo_Chelsea.png" alt="Logo de Chelsea">
            <div class="nav">
                <a class="lienHome" href="{{ path('home') }}">Home</a>
                <a class="lienTraining" href="{{ path('atelier_index') }}">Training</a>
                <a class="lienTraining" href="{{ path('joueur_index') }}">Team</a>
                <a class="lienLogout" href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
        {# <a href="{{ path('index') }}">Training</a> #}
        {# <a href="{{ path('index') }}">Team</a> #}

        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
